body {
	background-color: #777;
    margin: 25px 150px 310px 170px;
    color: #black;
    font-family: "Arial, Helvetica Neue, Helvetica, sans-serif;"
}
        
div {
    padding: 25px;
    color: #777;
    text-align: center;
    background-color: #ebebeb;
    border: 10px;
    margin-bottom: 15px;
} 
article {
    color: #ebebeb;
    background-color: #ebebeb;
    border-left: 10px;
    border-right: 10px;
    border-color: #ebebeb; 
}

section {
	width: 495px;
    float: left;
    background-color: #ebebeb;
    margin-color: #ebebeb;
    margin-bottom: 15px;
    margin-right: 15px;
    padding: 20px;
}
article div{
    background-color: #777;
}
p {
    color: #777;
    font-size: 18px;  
    text-align: center; 
    background-color: #ebebeb; 
    padding: 25px;
}

aside {
    float: left;
    width: 64.5%;
    height: 411px;
    text-align: center;
    margin: 0px 0px 25px 0px;
    background-color: #ebebeb;
    border-color: #777;
    padding-bottom: 24px;
    padding-top: 55px;
    font-family: "Arial, Helvetica Neue, Helvetica, sans-serif;"
    font-weight: normal;
}

footer {
    text-align: center;
    clear:both;
    margin-top: 25px;
}